*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    box-sizing: border-box;
    text-decoration: none;
}

.hero{
    width: auto;
    height: 100vh;
    background-color: #1f2937;
    color: aliceblue;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

nav ul li{
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 20px;
}

nav a{
    color: #e5e7eb;
}

.footer{
    background-color: #1f2937;
}